{% extends 'layout.html' %}
{% block content %}
  <div class="activities">
    {% for entry in source.get_entries('source', 'activities') | sort_ctime %}
    <div class="activity col-md-6 col-sm-6 col-xs-12">
      <a href="{{ entry.link }}">
        <h3>{{ entry.title }}</h3>
      </a>
      {% if entry.thumb %}
      <img class="img-responsive text-center" src="{{ entry.thumb }}" alt="{{ entry.title }}">
      {% else %}
      <img class="img-responsive text-center" src="assets/images/activity_image_picture.png" alt="{{ entry.title }}">
      {% endif %}
    </div>
    {% endfor %}
  </div>
{% endblock %}
